<!DOCTYPE html>
<html>
<head>
    <title></title>
<style type="text/css">
body {
    margin: 3%;
}
</style>
</head>
<body>
<h1>{{face.name}}</h1>
<div>gender: {{face.gender}}</div>
<div>born {{face.dob}}, year of photo {{face.photo_year}}, (approx. age at time of photo {{face.age}})</div>
<div id="imagediv">
<img id="image" src="{{face.image_url}}" />
<canvas id="canvas"></canvas>
</div>

</body>
</html>
