<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<table>
{% for f in faces %}
<tr>
    <td><a href="{% url 'sicv:face' f.id %}">{{f.name}}</a></td>
    <td>{{f.face_score}}</td>
    <td>{{f.second_face_score}}</td>
    <td><img style="width: 50px" src="{{f.image_url}}"></td>
    <td>{{f.celeb_names}}</td>
</tr>
{% endfor %}
</table>

</body>
</html>
