body {
    margin: 0;
    overflow: hidden;
    background: black;
}
#content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
	display: grid;
	grid-template-columns: 1fr 480px 1fr;
	grid-template-rows: 1fr 640px 1fr;
}
#imagediv {
	grid-column: 2;
	grid-row: 2;
	z-index: 5;
}
#canvasdiv {
	grid-column: 1 / span 3;
	grid-row: 1 / span 3;
	z-index: 10;
}

#content #image {
}
#content #canvas {
}
body.state-wait {
    background: black;
}
body.state-control {
    background: gray;
}
#debug {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}
#debug #dlog {
    overflow: auto;
    width: 300px;
    height: 40px;
    color: white;
}
