<!DOCTYPE html>
<html>
<head>
    <title></title>
<style type="text/css">
div.face {
    float: left;    
}

</style>
</head>
<body>


{% for f in faces %}
<div class="face">
{{f.id}}
<img src="{{f.file.url}}">
</div>

{% endfor %}
</body>
</html>