<!DOCTYPE html>
<html>
<head>
    <title></title>
<style type="text/css">
div.face {
    float: left;    
}

</style>
</head>
<body>


{% for p in photos %}
<div class="photo">
photo {{p.seq}} {{p.faces_count}} faces<br>
<img src="{{p.thumbnail}}"/>
{% if p.fer2013_match %} <img src="{{p.fer2013_match.file.url}}" /> {% endif %}
</div>

{% endfor %}
</body>
</html>