<!DOCTYPE html>
<html>
{% load static %}
{% load indextags %}
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'rm/styles.css' %}">

<!-- <link href="{% static 'rm/lightbox2/dist/css/lightbox.css' %}" rel="stylesheet" > -->
<!-- <script src="{% static 'rm/jquery/jquery.min.js'%}"></script> -->

    {% block head %}{% endblock %}
</head>
<body>
{% block header %}
{% endblock %}
{% block body %}{% endblock %}
{% block foot %}{% endblock %}
<!-- <script src="{% static 'rm/lightbox2/dist/js/lightbox.js' %}" rel="stylesheet" ></script> -->
</body>
</html>
