{% extends "rm/base.html" %}
{% load static %}
{% load humanize %}
{% block head %}{% endblock %}

{% block header %}
<style>
div.institutions {
    float: right;
}
</style>
{% endblock %}

{% block body %}
<h1>comments</h1>
<div class="institutions">
<h3>Archives</h3>
<ul>
{%for i in institutions %}
<li>{% if i == institution %}<b>{{i.name}} ({{i.items__photos__posts__count}})</b>{% else %}<a href="?i={{i.slug}}">{{i.name}} ({{i.items__photos__posts__count}})</a>{%endif%}</li>
{%endfor%}
{% if institution %}
<li><a href="?">All</a></li>
{% endif %}
</ul>
</div>
{% for post in posts %}
<div class="post">
    {{post.text}}
    {% if post.file %}<div class="attachment">Attachment:<a href="{{post.file.url}}" target="extern">{{post.file.name}}</a></div>{% endif %}
    <span class="time">&mdash;{{post.time|naturaltime}}</span>
    <span class="photolink"><a href="{{ post.rephoto.get_default_url }}">{{post.rephoto.item.institution.slug}}-{{post.rephoto.item.code}}</a></span>
    {% if user.is_authenticated %}<a class="delete" href="{% url 'post_delete' post.id %}">(delete)</a>{% endif %}
</div>
{% endfor %}
<div class="count">Showing {{posts.count}} comments</div>
{% endblock %}
