face {{face.id}}<br>

{{face.emotion}}<br>
{{face.emotion_angry}} angry<br>
{{face.emotion_disgust}} disgust<br>
{{face.emotion_fear}} fear<br>
{{face.emotion_happy}} happy<br>
{{face.emotion_sad}} sad<br>
{{face.emotion_surprise}} surprise<br>
{{face.emotion_neutral}} neutral<br>


{% if face.file %}
{{face.file.url}}
{% else %}
no file
{% endif %}

{{face.image}}

<img src="{{face.image.file.url}}" />