<p>{{items.count}} items</p>
<table>
{% for i in items %}
<tr>
    <td><a href="{% url 'admin:rm_item_change' i.id %}"><img src="{{i.thumbnail}}"></a></td>
    <td>{{i.institution.slug}}:{{i.code}}</td>
    <td>{% for p in i.photos.all %}<img src="{{p.thumbnail}}" />{%endfor%}</td>
</tr>
{% endfor %}
</table>
<a href="{%url 'upload' %}">upload</a>
