{{originals.count}} archive images with
{{items.count}} associated items from {{institutions.count}} institutions<br>
{{photos.count}} photos of which {{linked_photos.count}} have linked items

<b>views</b><br>
<ol>
<li><a href="{% url 'linker' %}">linker</a></li>
<li><a href="{% url 'upload' %}">upload</a></li>
<li><a href="{% url 'originals' %}">originals</a> (links to faces)</li>
<li><a href="{% url 'photos' %}">photos</a> (links to faces)</li>
</ol>