<!DOCTYPE html>
{% load static %}
{% load indextags %}
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'rm/styles.css' %}">
</head>
<body>
<div class="filename">{{item.display_name}}</div>

{{bodytext|markdown}}

<div class="links">
{{item.institution.name}}<br>
{% if item.url %}<a href="{{item.url}}" target="external">archive</a>
{% elif item.institution.archive_url %}Visit the <a href="{{item.institution.archive_url}}" target="external">archive</a> and search for <input type="text" value="{{item.code}}" />{% elif item.institution.website %}<a href="{{item.institution.website}}" target="external">website</a>
{% endif %}               
</div>
<div><img src="{% url 'item_print' item.id %}"></div>

<div><a href="{{item.file.url}}">The original unfiltered scan from the archive.</a></div>

</body>
</html>



