<p>{{items.count}} items</p>
<table>
{% for item in items %}
<tr id="item{{item.id}}">
    <td><a href="{% url 'item' item.id %}">{{item.id}}:{{item}}</a></td>
    <td>{{i.item}}</td>
</tr>
{% endfor %}
</table>
