<!DOCTYPE html>
<html>
<head>
    <title></title>
<style type="text/css">
body {
    overflow: hidden;
}
#container {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
}
#photos {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
}
#originals {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0; top: 0;
}


</style>
</head>
<body>
<div id="container">
    <iframe id="photos" src="{% url 'photos' %}"></iframe>
    <iframe id="originals" src="{% url 'originals' %}"></iframe>
</div>
<script>
var photos = document.getElementById("photos"),
    originals = document.getElementById("originals");
function item_link_handler (e) {
    // console.log("item click", this, e, this.getAttribute("href"))
    var href = this.getAttribute("href"),
        elt = originals.contentDocument.querySelector(href);
    console.log("item click", href, elt);
    if (elt) {
        elt.scrollIntoView({behavior: "smooth"});
    }
    return false;
}
photos.addEventListener("load", function () {
    console.log("originals loaded");
    var links = photos.contentDocument.querySelectorAll("a.itemlink");
    console.log("item links", links.length);
    for (var i=0, len=links.length; i<len; i++) {
        links[i].addEventListener("click", item_link_handler);

    }
});
</script>
</body>
</html>
