<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>The Recognition Machine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'rm/styles.css' %}">
    <script src="{% static 'rm/leaflet/leaflet.js' %}"></script>
    <link href="{% static 'rm/leaflet/leaflet.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'rm/leaflet-sidebar/src/L.Control.Sidebar.js' %}"></script>
    <link href="{% static 'rm/leaflet-sidebar/src/L.Control.Sidebar.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'rm/leaflet-hash/leaflet-hash.js' %}"></script>
    <script src="{% static 'rm/leafygal.js'%}"></script>

<style>
body {
    overflow: hidden;

    margin: 0;

/*    background: #EEE;
    color: #222;

    margin: 3%;
    font-family: "Lato", sans-serif;
*/
}
#content {
    position: absolute;
    left: 0; top: 0;
    right: 0; bottom: 0;
    display: flex;
    align-items: stretch;
    flex-direction: row;
}
#map {
    flex: 1 1 auto;
    /*position: absolute;*/
    /*left: 0px; top: 0px; right: 0px; bottom: 0px;*/
    background: #000000;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}
#sidebar {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 0;
    max-width: 50%;
    min-width: 33%;
    /*overflow: hidden;*/
    /*position: absolute;*/
    /*left: 10px;*/
    /*bottom: 10px;*/
    /*width: 420px;*/
    /*height: 540px;*/
    /*z-index: 10000;*/
    /*max-height: 70%;*/
    /*max-width: 100%;*/
}


/* In Landscape / normal view, shift the top right control to the bottom left */
div.leaflet-top.leaflet-right {
    top: unset;
    right: unset;
    bottom: 0;
    left: 0;
    margin-left: 10px;
    margin-bottom: 10px;
}

@media screen and (orientation:portrait) {
    #content {
        flex-direction: column;
    }
    #sidebar {
        max-width: none;
        max-height: 50%;
        min-height: 40%;
    }
    div.leaflet-top.leaflet-right {
        top: 0;
        right: 0;
        bottom: none;
        left: none;
    }
}

#sidebar iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
#sidebarheader {
    position: absolute;
    right: 16px;
    top: 0;
    z-index: 10;
    font-weight: bold;
}
.leaflet-sidebar .close {
    z-index: 1000 !important;
}
/*
div.leaflet-control-attribution {
    display: none !important;
}
*/
div.leaflet-tile {
    color: white;
    position: absolute;
    pointer-events: auto; /* this enables links */
}
div.leaflet-tile a {
    position: absolute;
    left: 0; top: 0;
    z-index: 1;
    font-family: monospace;
    font-size: 14px;
    line-height: 16px;
    text-shadow: 1px 1px 2px black;
    margin: 0;
    text-decoration: none;
    color: white;
    display: none; /* none - to hide, block - to show filenames */
}
.comments-icon {
    color: white;
    font-size: 10px;
    padding-left: 0.2em;
    padding-right: 0.2em;
    background: #222;
}
a#sidebarhidebutton {
    text-decoration: none;
}
</style>
</head>
<body>
    <div id="content">
        <div id="map"></div>

        <div id="sidebar">
            <iframe id="sidebarframe" name="sidebarframe" src="{{sidebarurl}}"></iframe>
        </div>

    </div>

    <div id="institutions_filter">
        {% for i in institutions %}
        <div class="institution_filter_choice">
            {% if i == institution %}
            <input type="radio" name="institution" value="{{i.slug}}" checked disabled>{{i.name}}
            {% else %}
            <a href="{% url 'institution-map' i.slug %}"><input type="radio" name="institution" value="{{i.slug}}">{{i.name}}</a>
            {% endif %}
        </div>
        {% endfor %}
        <!-- ALL -->
        <div class="institution_filter_choice institution_filter_choice_all">
            {% if not institution %}
            <input type="radio" name="institution" value="{{i.slug}}" checked disabled>All archives
            {% else %}
            <a href="{% url 'map' %}"><input type="radio" name="institution" value="all">All archives</a>
            {% endif %}
        </div>

    </div>
    <script src="map.js"></script>
    <script type="text/javascript">
        init_map(12);
    </script>
</body>
</html>
