<p>{{items.count}} items</p>
<table>
{% for i in items %}
<tr id="item{{i.id}}">
    <!-- <td><a href="{% url 'admin:rm_originalimage_change' i.id %}"><img src="{{i.thumbnail}}"></a></td> -->
    <td><a href="{% url 'original' i.id %}"><img src="{{i.thumbnail}}"></a></td>
    <td>{{i.item}}</td>
</tr>
{% endfor %}
</table>
