{% extends "rm/base.html" %}
{%block title %}{{page.title}}{% endblock %}

{% block body %}
{% load indextags %}
<div id="page">
{{page.text|markdown}}
</div>
{% endblock %}
{% block foot %}
<div id="edit">
{% load admin_urls %}
{% if user.is_authenticated %}
<a class="edit" href="{% url 'admin:rm_page_change' page.id %}">edit</a>
{% endif %}
</div>
{% endblock %}

