{% extends "rm/base.html" %}
{% load static %}
{% load indextags %}
{% load humanize %}
{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'rm/photo_info.css' %}">{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<div id="main">
    <!-- <img src="{{photo.thumbnail}}" /> -->

    <div class="body">
        <h1><a href="{% url 'page' 'start'%}" target="sidebarframe">The Recognition Machine</a></h1>
        <div class="thumbnail"><img src="/media/photos/tiles/{{photo.basename}}/z0y0x0.jpg" /></div>
        <div class="filename">{{photo.display_filename}}</div>

        <!-- emotion -->
        {% if photo.faces.count %}
        {% for face in photo.faces.all %}
        <p class="fer comment fer_{{face.emotion}}">
            {% if face.ensure_file %}
            <img src="{{face.file.url}}" style="width: 64px" /><br>
            {% endif %}
            {{face.make_emotion_caption}}<br>&mdash;<a target="_self" href="{% url 'page' 'fer2013' %}">Algorithmic speculation (FER2013)</a>
        </p>
        {% endfor %}
        {% else %}
        <p>No face was detected in this image.<br>The algorithm is <a target="_self" href="{% url 'page' 'nofacedetected' %}">often fooled, click here to read more about why</a>.</p>
        {%endif%}

        {% for post in photo.posts.all %}
            <div class="post">
                {{post.text}}
                {% if post.faces and post.faces.first and post.faces.first.file %}
                <div class="attachment"><img src="{{post.faces.first.file.url}}" style="width: 64px" /></div>
                <div class="fer comment fer_{{post.faces.first.emotion}}">
                    {{post.faces.first.make_emotion_caption}}
                </div>
                {% elif post.file %}
                    {% if post.has_uploaded_image %}
                    <div class="attachment"><img src="{{post.file.url}}" style="width: 64px" /></div>
                    {% else %}                
                    <div class="attachment">Attachment:<a href="{{post.file.url}}" target="extern">{{post.file.name}}</a></div>
                    {% endif %}
                {% endif %}
                <span class="time">&mdash;{{post.time|naturaltime}}</span>
                {% if user.is_authenticated %}<a class="delete" href="{% url 'post_delete' post.id %}">(delete)</a>{% endif %}
            </div>
        {% endfor %}

        <div class="formlink"><a href="#form">Post a comment/speculation</a></div>

        {% if photo.item.institution %}
        <p class="institution">
            <div class="institution_name">
                {% if photo.item.url %}
                    <a href="{{photo.item.url}}" target="external">
                {% elif photo.item.institution.archive_url %}
                    <a href="{{photo.item.institution.archive_url}}" target="external">
                {% endif %}
                <b class="institution">{{photo.item.institution.name}}</b>
                {% if photo.item.url or photo.item.institution.archive_url %}</a>{% endif %}
            </div>
            {% if photo.item.file %}
            <div class="original"><a href="{% url 'item' photo.item.id %}">View the full image on which this portait has been based</a></div>
            {% endif %}
            <div class="links">
                {% if photo.item.url %}<a href="{{photo.item.url}}" target="external">online archive page</a>
                {% elif photo.item.institution.archive_url %}Visit the <a href="{{photo.item.institution.archive_url}}" target="external">online archive page</a> and search for <input type="text" value="{{photo.item.code}}" />{% elif photo.item.institution.website %}<a href="{{photo.item.institution.website}}" target="external">website</a>
                {% endif %}
            </div>

            {{photo.item.institution.text|markdown}}

        </p>
        {% endif %}

         <div id="form">
            <form class="comment" method="post" action="{% url 'photo_comment' photo.id %}" enctype="multipart/form-data">
            {{commentform.as_p}}
            <input type="submit" value="send" />
            {%csrf_token %}
            </form>
        </div>

        <div style="min-height: 100px">&nbsp;</div>
        {% if user.is_authenticated %}<a class="edit" href="{%url 'admin:rm_rephotograph_change' photo.id %}">edit</a>{%endif%}
    </div>
</div>
<script>
(function () {
// set TARGET to EXTERN for all untargetted LINKS
var links = document.querySelectorAll("a");
// console.log(links.length + " links");
for (var i=0, len=links.length; i<len; i++) {
    var href = links[i].getAttribute("href"),
        target = links[i].getAttribute("target")
    // console.log("check", href, href.indexOf("#"));
    if (href.indexOf("#") !== 0 && !target) {
        links[i].setAttribute("target", "extern");
    }
}
})();
</script>
{% endblock %}
