{% extends 'rm/photobooth.html' %}
{% block main %}
<div class="flexcenter">
<img class="full" src="{{post.file.url}}" >
</div>
{% endblock %}

{% block step_text %}
{% if did_face_detection %}
No faces detected (currently this branch is not used)
{% else %}
Detecting face...
{% endif %}
{% endblock %}

{% block next_button %}
{% if did_face_detection %}
<!-- AGAIN NOT USED -- CURRENTLY -- NO FACES ARE MATCHED AS WELL -->
<form method="get" action="{% url 'photobooth' %}" style="display: inline">
<input type="submit" value="take another photo"/>
</form>
{% else %}
<form method="post" action="" style="display: inline">
{% csrf_token %}
<input type="submit" value="next" style="display: none" />
</form>
{% endif %}
{% endblock %}

{% block endscripts %}
<script>
var progress = document.querySelector("progress"),
    form = document.querySelector("form");
// form.onsubmit = function (e) {
//     progress.removeAttribute("value");
// }
document.addEventListener("DOMContentLoaded", e=> {
    window.setTimeout (e => {
        form.submit();
    }, 3000);
});

</script>
{% endblock %}