{% extends 'rm/photobooth.html' %}

{% block main %}
<div class="flexcenter">
    {% if post.faces.count %}
    <div><img class="full" src="{{face.file.url}}" /></div>
    <div class="caption">{{face.make_caption}}</div>
    {% else %}
    <div><img class="full" src="{{post.file.url}}"/ ></div>
    <div class="caption">No face detected</div>    
{% endif %}
</div>
{% endblock %}

{% block step_text %}
Matching with archive...
{% endblock %}


{% block next_button %}
<form method="post" action="" style="display: inline">
{% csrf_token %}
<input type="submit" value="next" style="display: none" />
</form>
{% endblock %}

{% block endscripts %}
<script>
var progress = document.querySelector("progress"),
    form = document.querySelector("form");
// form.onsubmit = function (e) {
//     progress.removeAttribute("value");
// }
document.addEventListener("DOMContentLoaded", e=> {
    window.setTimeout (e => {
        form.submit();
    }, 3000);
});
</script>
{% endblock %}
