{% extends "rm/base.html" %}
{% load static %}
{% load indextags %}
{% load humanize %}
{% block head %}<link rel="stylesheet" type="text/css" href="{% static 'rm/photo.css' %}">{% endblock %}

{% block header %}
{% endblock %}

{% block body %}
<div id="fixed">
    <div id="imagediv">
        <img id="image" src="{{photo.file.url}}" />
        <canvas id="canvas"></canvas>
    </div>
</div>

<div id="centerleft">
    <div id="leftarrow" class="arrow">
        {% if prev_url %}<a href="{{prev_url}}"><img src="{% static 'rm/leftarrow.png' %}"></a>{% endif %}
    </div>
</div>
<div id="centerright">
    <div id="rightarrow" class="arrow">
        {% if next_url %}<a href="{{next_url}}"><img src="{% static 'rm/rightarrow.png' %}"></a>{% endif %}
    </div>
</div>

<div id="scroll">
    <div id="cover">
    </div>
    <div id="main">
        <div class="body">
            <p>{{photo.item.code}}</p>
            {% if photo.item.file %}
            <p><a href="{% url 'item' photo.item.id %}">item</a></p>
            {% endif %}
            {% if photo.item.institution %}
            <div class="institution">
                <h2 class="institution">{{photo.item.institution.name}}</h2>

                {{photo.item.institution.text|markdown}}

                <div class="links">
                    {% if photo.item.url %}<a href="{{photo.item.url}}" target="external">archive</a>
                    {% elif photo.item.institution.archive_url %}Visit the <a href="{{photo.item.institution.archive_url}}" target="external">archive</a> and search for <input type="text" value="{{photo.item.code}}" />{% elif photo.item.institution.website %}<a href="{{photo.item.institution.website}}" target="external">website</a>
                    {% endif %}
                    
                </div>
                
                <div id="info">{{faces|length}} faces detected {% if prev_url %}<a href="{{prev_url}}">&lArr;</a>{%endif%} {{cur_index}} / {{total_items}} {% if next_url %}<a href="{{next_url}}">&rArr;</a>{%endif%}
                </div>

            </div>
            {% endif %}
            <div class="homelink"><a href="/">home</a>

<!--             <div class="media">
                <div>
                <form class="comment" method="post" action="{% url 'photo_comment' photo.id %}">
                {{commentform.as_p}}
                <input type="submit" value="send" />
                {%csrf_token %}
                </form>
                </div>
            </div>
 -->            
<!--             {% for post in photo.posts.all %}
                <div class="media">
                {% if post.first_face %}
                    <img src="{{ post.first_face.file.url }}" style="max-width: 320px" />
                    <div>
                        <pre>{{post.first_face.make_caption}}</pre>
                        <div class="time">{{post.time|naturaltime}}</div>
                    </div>
                {% else %}
                    <div>
                        {{post.text}}
                    </div>
                {% endif %}
                    {% if user.is_authenticated %}<div class="delete"><a class="delete" href="{% url 'post_delete' post.id %}">delete this comment</a></div>
                    {% endif %}
                </div>
            {% endfor %}
 -->
            <div style="min-height: 100px">&nbsp;</div>
            {% if user.is_authenticated %}<a href="{%url 'admin:rm_rephotograph_change' photo.id %}">edit</a>{%endif%}
        </div>
    </div>
</div>

<script>
(function () {

var image = document.getElementById("image"),
    imageBCR = image.getBoundingClientRect(),
    canvas = document.getElementById("canvas"),
    ctx = canvas.getContext("2d"),
    imageWidth,
    imageHeight,
    windowWidth = $(window).width(),
    windowHeight = $(window).height(),
    faces = {{faces|json|safe}};
    
function translate (r) {
    var ret = {};
    ret.x = imageBCR.left + ((r.x/imageWidth) * imageBCR.width);
    ret.y = imageBCR.top + ((r.y/imageHeight) * imageBCR.height);
    ret.width = r.width * (imageBCR.width/imageWidth);
    ret.height = r.height * (imageBCR.height/imageHeight);
    return ret;
}

var wedge = 360/7;
var HUES = {
    "angry": 0,
    "disgust": wedge*1,
    "fear": wedge*2,
    "happy": wedge*3,
    "sad": wedge*4,
    "surprise": wedge*5,
    "neutral": wedge*6
};

function drawFaces () {
    imageWidth = image.naturalWidth,
    imageHeight = image.naturalHeight;
    imageBCR = image.getBoundingClientRect();
    var windowWidth = $(window).width(),
        windowHeight = $(window).height();
    console.log("image load, image size (full):", imageWidth, imageHeight, windowWidth, windowHeight, imageBCR);
    canvas.width = windowWidth;
    canvas.height = windowHeight;


    ctx.clearRect(0, 0, canvas.width, canvas.height);
    // ctx.strokeStyle = "hsla(0, 100%, 50%, 0.5)";
    // ctx.lineWidth = 3;

    for (var fi=0, fl=faces.length; fi<fl; fi++) {
        var rect = translate(faces[fi]);
        // ctx.fillStyle = 'rgba(225,120,225,0.5)';
        ctx.fillStyle = 'hsla('+HUES[faces[fi].emotion]+', 50%, 66%, 0.5)';
        ctx.fillRect(rect.x, rect.y, rect.width, rect.height);
    }

}

image.addEventListener("load", drawFaces);
window.addEventListener("resize", drawFaces);

})();
</script>
{% endblock %}
