<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<title>photobooth: take picture</title>
<style>
img {
    filter: blur(0) grayscale(1);
}
div.fotoframe {
    overflow: hidden;
}
img.blur {
    filter: blur(1.5rem) grayscale(1);
}
.transition-all-slow {
    transition: all 5s ease-out;
}
body {
    overflow: hidden;
    background: black;
    text-align: center;
}
.absfull {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
}
.abs100 {
    position: absolute;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
}
video {
    display: none;
    width: 100%;
    max-height: 100%;
}
#canvas {
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas {
    display: none;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#controls {
    flex: 0 0 auto;
}
#display {
    position: relative;
    flex: 1 0 auto;
    background: gray;
    height: 100%;
}
#camera {
}
#countdown {
    display: none;
    align-items: center;
    justify-content: center;
}
#countdown .number {
    font-size: 60vh;
    color: black;
    text-shadow: #FFF 1px 0 10px;
}
#message {
    position: absolute;
    bottom: 0;
}
</style>
</head>
<body>

<div style="display: none">
    <form action="{% url 'posts' %}" method="post" enctype="multipart/form-data">
    {%csrf_token %}
    {{form.as_p}}
    <input type="submit" value="upload">
    </form>
</div>

<div class="absfull">
    <div id="content">
        <div id="display">
            <div id="camera" class="abs100"><video></video></div>
            <div id="countdown" class="abs100"><div class="number">3</div></div>
            <div id="progress"><progress max="100"></progress></div>
            <div id="messages">Messages...</div>
            <div id="canvas" class="abs100"><canvas></canvas></div>
        </div>
    </div>
</div>

<script src="{% static 'rm/face-api.js'%}"></script>
<!-- Adapter is a shim for consistent WEBRTC browser support -->
<script src="{% static 'rm/adapter-latest.js'%}"></script>
<script src="{% static 'rm/take_photo.js' %}"></script>
<script>
var WEIGHTS_URL = "{% static 'rm/weights/' %}";
</script>
<script src="{% static 'rm/photobooth.js' %}"></script>

</body>
</html>