<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>photobooth</title>
    <link rel="stylesheet" type="text/css" href="{% static 'rm/photobooth.css' %}">
</head>
<body>
<div id="content" class="absfull">
    {% block content %}
    <div id="main">
        {% block main %}
        <!-- SIMPLIFIED PHONE INTERFACE / FORM -->
        <form action="?format=json" method="post" enctype="multipart/form-data">
            {%csrf_token %}
            <input type="file" name="file" id="file" accept="image/*" capture="camera">
            <label for="file" class="flexcenter"><img class="full" src="{% static 'rm/camera.png' %}" /></label>
        </form>
        <!-- DESKTOP INTERFACE -->
        <div id="camerafull" style="display: none">
            <div id="content">
                <div id="camera" class="abs100"><video id="video"></video></div>
                <div id="countdown" class="abs100"><div class="number">3</div></div>
                <div id="canvas" class="abs100"><canvas></canvas></div>
            </div>
        </div>
        {% endblock %}
    </div>
    <div id="nav">
    {% block nav %}
    <div id="step">
        <div id="step_text">
            {% block step_text %}Take a photo...{%endblock %}
        </div>
        <div id="step_next">
            {% block next_button %}<button id="next_button" style="display: none">next</button>{% endblock %}
        </div>
    </div>
    <div><progress></progress></div>
    {% endblock %}
    </div>
    {% endblock %}
</div>

{% block endscripts %}
<!-- Adapter is a shim for consistent WEBRTC browser support -->
<script src="{% static 'rm/adapter-latest.js'%}"></script>
<script src="{% static 'rm/take_photo.js' %}"></script>
<script src="{% static 'rm/photobooth.js' %}"></script>
{% endblock %}

</body>
</html>
