{% extends "rm/base.html" %}
{% load static %}
{% load humanize %}
{% block head %}{% endblock %}

{% block header %}
<style>
div.institutions {
    float: right;
}
</style>
{% endblock %}

{% block body %}
<h1>photos</h1>
<div class="institutions">
<h3>Archives</h3>
<ul>
{%for i in institutions %}
<li>{% if i == institution %}<b>{{i.name}} ({{i.items__photos__count}})</b>{% else %}<a href="?i={{i.slug}}">{{i.name}} ({{i.items__photos__count}})</a>{%endif%}</li>
{%endfor%}
{% if institution %}
<li><a href="?">All</a></li>
{% endif %}
</ul>
</div>

<p>{{photos.count}} photos</p>
<table border="0">
{% for p in photos %}
<tr>
	<td><a href="{{ p.get_default_url }}"><img src="{{p.thumbnail}}"></a></td>
	<td>{{p.item.code}}<br>
		{{p.item.institution.name}}
	</td>
</tr>
{% endfor %}
</table>
{% endblock %}