<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
	<title>photobooth test</title>
<style>
img {
    filter: blur(0) grayscale(1);
}
div.fotoframe {
    overflow: hidden;
}
img.blur {
    filter: blur(1.5rem) grayscale(1);
}
.transition-all-slow {
    transition: all 5s ease-out;
}
body {
    text-align: center;
}
.absfull {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
}
.abs100 {
    position: absolute;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
}
video {
    display: none;
    width: 100%;
    max-height: 100%;

    /* mirror video display */
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}
#canvas {
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas {
    display: none;
}

#content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#controls {
    flex: 0 0 auto;
}
#display {
    position: relative;
    flex: 1 0 auto;
    background: gray;
    height: 100%;
}
#camera {
}
#countdown {
    display: none;
    align-items: center;
    justify-content: center;
}
#countdown .number {
    font-size: 20vh;
    font-weight: bold;
    color: black;
    text-shadow: #FC0 1px 0 10px;
}
#message {
    position: absolute;
    bottom: 0;
}
</style>
</head>
<body>

<div>
    <form action="{% url 'photobooth' %}" method="post" enctype="multipart/form-data">
    {%csrf_token %}
    <p>
        <input type="file" name="file" accept="image/*" capture="user">
    </p>
    <p>
        <input type="submit">
    </p>
    </form>
</div>

<script>
</script>
</body>
</html>