<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h2>Delete post</h2>
{% if post.first_face %}
<img src="{{ post.first_face.file.url }}" style="max-width: 320px" />
<div>
<pre>{{post.first_face.make_caption}}</pre>
</div>
{% endif %}
                
<form method="post" action="">
    {{form.as_p}}
    <input type="submit" value="delete">
    {% csrf_token %}
</form>
</body>
</html>