<!DOCTYPE html>
<html>
{% load static %}
{% load indextags %}
  <head>
    <title>qr scanner</title>
    <script type="text/javascript" src="{% static "rm/instascan.min.js" %}"></script>
  </head>
  <body style="background: white">
    <video id="preview" style="display: none"></video>
    <script type="text/javascript">
      let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
      scanner.addListener('scan', function (content) {
        console.log("scanned", content);
        if (content.indexOf("http") == 0) {
          console.log("going to URL");
          window.open(content, "_parent");
        }
      });
      Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
          scanner.start(cameras[0]);
        } else {
          console.error('No cameras found.');
        }
      }).catch(function (e) {
        console.error(e);
      });
    </script>

    <div>{{page.text|markdown}}</div>
  </body>
</html>