{% extends "rm/page.html" %}
{% block body %}
{{block.super}}
<div class="page">
<h2>The Archive</h2>
    <div id="photos">
    {% for p in photos %}
    <a href="{% url 'photo' p.id %}"><img src="{{p.thumbnail}}"></a>
    {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if photos.has_previous %}
                    <a href="?page=1&o={{o}}">&laquo; first</a>
                    <a href="?page={{ photos.previous_page_number }}&o={{o}}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ photos.number }} of {{ photos.paginator.num_pages }}.
                </span>

                {% if photos.has_next %}
                    <a href="?page={{ photos.next_page_number }}&o={{o}}">next</a>
                    <a href="?page={{ photos.paginator.num_pages }}&o={{o}}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>
{%endblock%}