/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Lato-Bold";
  src: url("./fonts/Lato-Bold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Lato-Bold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Lato-Bold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Lato-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Lato-Bold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Lato-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}