/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Lato-Regular";
  src: url("./fonts/Lato-Regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Lato-Regular.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Lato-Regular.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Lato-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Lato-Regular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Lato-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}