body {
    margin: 0;
    background: black;
    overflow: hidden;
}
#fixed {
    position: absolute;
    left: 0; top: 0;
    right: 0; bottom: 0;
    text-align: center;
    overflow: hidden;
    z-index: 0;  
}
#centerleft {
    position: fixed;
    left: 0;
    top: 50%;
    z-index: 10000;
}
#leftarrow {
    position: absolute;
    top: -50px;
    height: 100px;
    min-height: 100px;
    width: 50px;
}
#centerright {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 10000;
}
#rightarrow {
    position: absolute;
    top: -50px;
    left: -70px;
    height: 100px;
    min-height: 100px;
    width: 50px;
}
#imagediv {
    position: absolute;
    left: 0; top: 0;
    right: 0; bottom: 0;
    text-align: center;
}

#imagediv img {
    text-align: center;    
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#imagediv #canvas {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}
#info {}

#scroll {
    position: absolute;
    right: 0; top: 5%;
    width: 30%;
    height: 90%;
    overflow: auto;
    z-index: 1;    
}
#scroll #cover {
}
#scroll #main {
    max-width: 48em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 1em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    color: #EEE;
    /*background: #EEEEEEAA;*/
}
#main .background {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
}
#main .body {

}

h2.institution {
    font-size: 100%;
}



.media {
  overflow: hidden;
  padding: 1rem;
  max-width: 20rem;
  margin: 0 0 1rem 0;
}
.media img {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 1rem 0 0;
}
.media h2 {
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}
.media > div {
  padding-left: calc(100px + 1rem);
}

/* flex media object */
.block {
  display: flex;
  align-items: flex-start;
  /*background: #333;*/
  padding: 1rem;
  max-width: 20rem;
  margin: 0 0 1rem 0;
}
.block > img {
  width: 75px;
  margin: 0 1rem 0 0;
}
.block > div {
  flex: 1;
}
.block h2 {
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}

form.comment label {
  display: none;
}
form.comment textarea {
}