body {
    overflow: hidden;
    background: black;
    text-align: center;
    color: white;
}
#content {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    display: flex;
    flex-direction: column;
}
#main {
    position: relative;
    flex: 1 0 auto;
    background: gray;
}
#nav {
    flex: 0 0 auto;
    background: black;
}
#step {
    display: flex;
    flex-direction: row;
}
#step_text {
    flex: 1 0 auto;
}
#step_next {
    flex: 0 0 auto;
}
progress {
    width: 100%;
}
img {
    /*filter: blur(0) grayscale(1);*/
}
img.full {
    max-width: 100%;
    max-height: 70vh; /* nb: max-height 100% doesn't seem to work here */;
}
form {
    height: 100%;
}
.flexcenter {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

div.fotoframe {
    overflow: hidden;
}
img.blur {
    filter: blur(1.5rem) grayscale(1);
}
.transition-all-slow {
    transition: all 5s ease-out;
}

#camerafull {
    display: none;
}
.abs100 {
    position: absolute;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
}
video {
    display: none;
    width: 100%;
    max-height: 100%;

    /* mirror video display */
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}
#canvas {
    display: flex;
    align-items: center;
    justify-content: center;
}
canvas {
    display: none;
}

#camera {
}
#countdown {
    display: none;
    align-items: center;
    justify-content: center;
}
#countdown .number {
    font-size: 60vh;
    color: black;
    text-shadow: #FFF 1px 0 10px;
}
#message {
    position: absolute;
    bottom: 0;
}
img.camera {
    background: gray;
}
