/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Lato-Regular.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Lato-Regular.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Lato-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Lato-Regular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Lato-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Bold.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Lato-Bold.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Lato-Bold.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Lato-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Lato-Bold.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Lato-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Italic.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Lato-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Lato-Italic.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Lato-Italic.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Lato-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Lato-Italic.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Lato-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Silkscreen";
  src: url("./fonts/slkscr.eot"); /* IE9 Compat Modes */
  src: url("./fonts/slkscr.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/slkscr.otf") format("opentype"), /* Open Type Font */
    url("./fonts/slkscr.svg") format("svg"), /* Legacy iOS */
    url("./fonts/slkscr.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/slkscr.woff") format("woff"), /* Modern Browsers */
    url("./fonts/slkscr.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

body {
    background: #EEE;
    color: #222;
    margin: 3%;
    font-family: "Lato", sans-serif;
}

h1, h2, h3 {
    font-family: "Silkscreen", monospace;
}
h1, h2, h3 {
    font-size: 20px;
}

.leaflet-control-attribution {
  display: none !important;
}

.leaflet-control-attribution a {
  font-family: Silkscreen !important;
  color: black !important;
}

.leaflet-control-attribution a:hover {
  text-decoration: none !important;
}

a {
    color: hsl(308.57,50%,66%);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.edit {
  color: lightgray !important;
}

#page, .page {
    max-width: 48em;
    margin-left: auto;
    margin-right: auto;
}

div.filename {
    margin-bottom: 1em;
    font-weight: bold;
}

div.institution_name {
  margin-top: 1em;
}

p.fer {
  margin-top: 0;
}
.fer {
    font-style: italic;
}
.fer_angry, .fer_angry a {
    color: hsl(0.00,50%,66%);
}
.fer_disgust, .fer_disgust a {
    color: hsl(51.43,50%,66%);
}
.fer_fear, .fer_fear a {
    color: hsl(102.86,50%,66%);
}
.fer_happy, .fer_happy a {
    color: hsl(154.29,50%,66%);
}
.fer_sad, .fer_sad a {
    color: hsl(205.71,50%,66%);
}
.fer_surprise, .fer_surprise a {
    color: hsl(257.14,50%,66%);
}
.fer_neutral {
    color: hsl(308.57,50%,66%);
}

form.comment label {
  display: none;
}

div.post {
  margin-bottom: 1em;
}

/* photo info page */
.thumbnail img {
  width: 64px;
}